@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
body {
    font-family:'Julee', cursive;
    margin:0;
    padding:0;
    background-image:linear-gradient(to top, rgba(248, 249, 250, 0.057) 0%, rgba(0, 0, 0, 0.625) 50%),url('360_F_520045644_p0HXbREt9zSLQmthKezfgIZxvd0nfQ7n.jpeg');
    background-size: cover;
  background-repeat:no-repeat ;

   
}

header {
   
    padding:20px;
    text-align:center;
    color:#8f9b8f;
    
    font-weight: bold;
    
}
h1{
    margin:0;
    font-size: 65px;
  
}
nav{
    background-color:#2779a7;
    background-image: url(https://images.template.net/97252/sage-green-background-0un6c.jpg);
    background-size: cover;
    display:flex;
    justify-content:center;
    font-size:12px;
}
nav ul{ 
list-style:none;
margin: 10px;;
padding: 10px;;
display:flex;
gap: 3px;
}
nav li{
    margin:0 20px;
}
nav a{
    color:black;
    text-decoration:none;
    transition: all 0.3s ease;
    
}
nav a:hover {
    font-size: 40px;
  }
nav a i {
    font-size: 35px;
    margin-bottom: 20px;
    padding: 0px;
    margin: 0px;
    transform: scale(1.4);
}
main { 
    padding:40px;
    color: #8f9b8f;
 }
#about,h2,p{
    margin-right: right 70px;
    color: #8f9b8f;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
    border-radius: 30%;

    
}
#galery img {
    font-size: 45px;
    border: 5px solid rgb(82, 117, 117);
    border-radius: 10%;

    
}
footer{
    
    padding:20px;
    text-align:center;
}
#contact{
    text-align:center;
    padding:50px;
}
#contact h2{
    font-size:35px;
    margin-bottom:20px;
}
#contact ul{
    display:flex;
    justify-content:center;
    list-style:none;
    margin:0;
    padding:0;
}
#contact li{
    margin:0 20px;
    text-align:center;
}
#contact a{
    display:block ;
    color:#8f9b8f;
    text-decoration:none;
}
#contact a i{
    font-size:35px;
    margin-bottom:10px;
    
}
.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-style:dotted solid 5px ;
}

.slider img {
  position: absolute;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
main section  {
    background-color:hsla(120, 100%, 70%, 0);
    color: #8f9b8f;
}

main section  + #contact{
     background-color:hsl(120, 100%, 70%,0.0);
     color: #8f9b8f;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(24, 26, 26); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
